<a routerLink="order/summary"></a>
<form>
<div>
  <h2 class="title">My Order</h2>
</div>
<div class="col-sm-6 col-xs-6 col-md-6 box" *ngFor="let try of cart let i = index">
<ul class="list-group">
  <li class="col-sm-6 col-xs-6 col-md-6 name" style="text-align: left; width:49%; display: inline-block;">{{cart[i].name}}</li>
  <div class="col-sm-6 col-xs-6 col-md-6 price" >{{cart[i].price}}</div>
  <div class="list-group">
  <ul *ngFor="let exm of try.topping" >
      <div class="col-sm-6 col-xs-6 col-md-6 name" style="text-align: left;">{{exm.name}}</div>
      <div class="col-sm-6 col-xs-6 col-md-6 price">{{exm.price}}</div>
    </ul>
  </div>
</ul>

</div>
</form>
<div style="display: inline-block; border-top: 3px solid black; margin-top:20px; width:47%; margin-left:20%">
<p class="col-sm-6 col-xs-6 col-md-6 total">Total</p>
<p class="col-sm-6 col-xs-6 col-md-6 total" style="padding-left:33%">{{orderService.getPrice()}}</p>
  <button class="btn btn-primary" style="font-family: Forte; font-size: 20px; width:100%; margin-top:10px" (click)="onPay()">Pay</button>
</div>



