
<app-header></app-header>
<div class ="container">
  <div class="row">
<div class="col-md-12">





  <router-outlet></router-outlet>






<!--      <span class="tag-wrap">
  <span class="tag">
    Tag
  </span>
</span>




      <div class ="container">
        <div class="row">
          <div class="col-md-12">


      <button class="btn btn-success" (click)="onShow()">{{show ? 'Hide' : 'Show'}}</button>
            <hr>
      <iframe width="600" height="500"
              src="https://www.ynet.co.il" *ngIf="show">
        <p>Your browser does not support iframes.</p>
      </iframe>
          </div>
        </div>
      </div>-->







</div>
</div>
</div>



