

<form class="time1"  style=" position: relative;
top: 10em;
left: 5em;
width: 250px;
height: 150px;
border-radius:30px;
border: 1px solid black;
">
<div>
    <label for="inputState" style="padding-left: 75px; vertical-align: middle;">Supply Time</label>
</div>
    <div class="form-row">
      <div class="col-md-1 col-xs-1">
<div class="form-group">

    <select  class="form-control" name="hour"  [(ngModel)]="myHour" style="width:75px; height: 75px; font-size: 20px; font-family: Kristen ITC;background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); border-radius:50px; margin-left:25px;">
        <ng-container *ngFor="let h of hour">
            <option *ngIf="h>=orderHour" >{{h}}</option>
        </ng-container>
        </select>
  </div>
</div>
</div>

<div class="col-md-1 col-xs-1">
<div class="form-group">

    <select  class="form-control" name="minute" [(ngModel)]="Myminute" style="width:75px; height: 75px; font-size: 20px; font-family: Kristen ITC;background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%); border-radius:50px;margin-left:75px;">
        <ng-container *ngFor="let m of minute">
            <option size="2">{{m}}</option>
        </ng-container>
        </select>

  </div>
</div>
  <div class="row col-md-12 col-xs-12">
      <button class="btn btn-primary" (click)="selectTime()" style="margin-left: 95px;margin-top:-5px;" >OK</button>
  </div>

</form>









