.choiceBoxTopping {
  position: relative;
  top: 140px;
  border: 0px black;
  border-radius: 30px
}


@media screen and (max-width: 600px)  {
  .butn {
    position: relative;
     left: 5em;
     top: 5em;
  
  }
}