<a routerLink="order/toppings"></a>
<div class="container">
<div class="row">

<div class=" choiceBoxTopping" >
  <p style="padding-left: 10px">Please choose a Topping</p>
  <app-button *ngFor="let topping of toppings; let i = index"
              [topping]="topping"
              [index]="i"></app-button>

</div>


<div class="col-md-12 col-xs-5 butn">
  <button *ngIf="!orderService.getEditButton()" class="btn btn-primary " style="position: relative; left: 45%; top: 100px;" (click)="onContinue()">Continue</button>
  <button *ngIf="orderService.getEditButton()" class="btn btn-primary " style=" position: relative; left: 45%; top: 100px;" (click)="onEdit()">Edit</button>
</div>
</div>
</div>





