.choiceBoxTopping {
  position: relative;
  top: 140px;
  top: 90px; 
  left:150px;
   padding-top:10px; 
   margin-bottom: 10px;
  width: 450px;
  border: 0px black;
  border-radius: 30px
}


@media screen and (max-width: 600px)  {
  .choiceBoxTopping {
    position: relative;
    top: 90px;
    width: 200px;
    left: 5em;
    padding-top: 10px;
    margin-bottom: 10px;
  
  }
}

@media screen and (max-width: 600px)  {
  .butn {
    position: relative; 
    left: -3em;
    top: 60px;
   
  }
}