<a routerLink="order/toppings"></a>
<div class="col-sm-6">
<div class="row choiceBoxTopping" style="position: relative; top: 90px; padding-top: 10px ">
  <p style="padding-left: 10px">Please choose a Topping</p>
  <app-button *ngFor="let topping of toppings; let i = index"
              [topping]="topping"
              [index]="i"></app-button>
  <button *ngIf="!orderService.getEditButton()" class="btn btn-primary" style=" position:absolute; bottom: 7px; right: 20px" (click)="onContinue()">Continue</button>
  <button *ngIf="orderService.getEditButton()" class="btn btn-primary" style=" position:absolute; bottom: 7px; right: 20px" (click)="onEdit()">Edit</button>
</div>


<div class="box1" *ngIf="listorder">
  <p style="position: relative; top: 50px">You Choose {{mealService.getOrderChooseName()}}
    </div>
</div>


